**How to create DataFrame from a table online**

Anthony Oppong-Gyebi<br>
Applied Capstone<br>
04/21/2019

__Import libraries__

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

**Getting table from website**

In [40]:
wikipedia_page = 'List_of_postal_codes_of_Canada:_M'

In [41]:
wikipedia_url = 'https://en.wikipedia.org/wiki/{}'.format(wikipedia_page)
page = requests.get(wikipedia_url)

In [42]:
soup = BeautifulSoup(page.text, 'html.parser')

**Getting table data from the table**

In [43]:
table = soup.table

Postcode = []
Borough = []
Neighborhood = []

for rank, file in enumerate (table.find_all('td')):
    if rank%3 == 0:
        Postcode.append(file.text.rstrip())
    
    elif rank%3 == 1:
        Borough.append(file.text.rstrip())
    
    elif rank%3 == 2:
        Neighborhood.append(file.text.rstrip())

**Create and empty DataFrame with columns Postcode, Borough, Neighborhood**

In [44]:
df=pd.DataFrame(columns = ['Postal Code', 'Borough', 'Neighborhood'])
df

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

**Filling the new dataframe with the created list**

In [45]:
Zipcode= list(set(Postcode))

for a in Zipcode:
    post = a
    hood = ""
    for rank, file in enumerate(Postcode):
        if file == a:
            borough = Borough[rank]
            hood += Neighborhood[rank] + ', '
        
    hood = hood[:-2]
    df = df.append({'Postal Code': post,
                    'Borough':borough,
                    'Neighborhood':hood}, ignore_index = True)
df.head()
df.shape

(180, 3)

**Dropping unassigned Boroughs**

In [46]:
df.drop(index = df.index[df['Borough'] == 'Not assigned'], inplace = True)
df.reset_index (drop = True, inplace = True)
df.head()

  Postal Code      Borough                                   Neighborhood
0         M3M   North York                              Downsview Central
1         M8X    Etobicoke  The Kingsway, Montgomery Road, Old Mill North
2         M1G  Scarborough                                         Woburn
3         M2M   North York                        Newtonbrook, Willowdale
4         M3L   North York                                 Downsview West

In [47]:
for rank,file in enumerate(df['Neighborhood']):
    if file == 'Not assigned':
        df.loc[rank, 'Neighborhood'] = df.loc[rank, 'Borough']
        
df.head()

  Postal Code      Borough                                   Neighborhood
0         M3M   North York                              Downsview Central
1         M8X    Etobicoke  The Kingsway, Montgomery Road, Old Mill North
2         M1G  Scarborough                                         Woburn
3         M2M   North York                        Newtonbrook, Willowdale
4         M3L   North York                                 Downsview West

In [48]:
rows, columns = df.shape

In [53]:
print ("New dataframe has "+str(rows)+" rows")

New dataframe has 103 rows